@using AD_Project_Iteration_1_Main.Models_DB
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var User = (Employee)ViewData["USER"];
    var sessionId = (string)ViewData["SessionId"];
}

<h2></h2>
